@{
    ViewData["Title"] = "Weather";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<h2>WeatherJs</h2>

<p id="name"></p>
<p id="temp"></p>
<p id="humidity"></p>
<button>Get Weather</button>

<script>

   function initMap() {
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({'address': address}, function(results, status) {
                    if (status === 'OK') {
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 14,
                            position: results[0].geometry.location
                        });
                        map.setCenter(results[0].geometry.location);
                        var marker = new google.maps.Marker({
                            map: map,
                            position: results[0].geometry.location
                    });
                    } else {
                        alert('Geocode was not successful for the following reason: ' + status);
                    }
                });
            }


    $(document).ready(function () {
        $("button").click(function (){
            $.get("https://api.openweathermap.org/data/2.5/weather?lat=32.034831&lon=34.709307&APPID=188f92e934ce74eb61411a49df709c6f&units=metric", function (response){
                //response
                console.log(response);
                $("#name").text(response.name);
                $("#temp").text(response.main.temp);
                $("#humidity").text(response.main.humidity);

        });

        });

    });
</script>

