@model IEnumerable<KeePark.Data.GeneralUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <link rel="stylesheet" href="~/css/userstyle.css" type="text/css" media="screen" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div class="jumbotron text-center">
        <div class="section-title">
            <h1>ADMIN DASHBOARD</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                @foreach (var item in Model)
                {
                    if (item.UserName == User.Identity.Name)
                    {
                        <h5 class="name">
                            @Html.DisplayFor(modelItem => item.FirstName)
                            @Html.DisplayFor(modelItem => item.LastName)
                        </h5>


                        <p class="email">@User.Identity.Name</p>

                    }
                }

                <a id="list-users" href="Index">List of Users</a>
                <br />
                <a id="edit_details" href="/Identity/Account/Manage">Edit Details</a>
                <br />
                <a id="list-reservations" href="/ReserveSpots/List">List of Reservations</a>

            </div>
            <div class="col-sm-8">



            </div>
        </div>
    </div>

    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>

    <footer>
        <section class="footer-email-signup max-1350">
            <div class="jumbotron text-center" style="background-color:#ffffff">
                <div class="warpper">
                    <h4>DON'T MISS OUT!</h4>
                </div>
            </div>
        </section>
    </footer>

</body>